#heliosVideo {
    height: 450px;
    width: 780px;
    margin-top: 0;
}

blockquote {
    margin-top: 20px;
}

blockquote, #heliosVideo, ol {
	margin-left: 60px;
	margin-right: 60px;
}

p {
    margin-bottom: 0;
    margin-top: 20px;
}

ol {
    margin-top: 15px;
}

#content {
    margin-bottom: 30px;
}

/*Styles for mobile-responsiveness*/
@media screen and (max-width: 480px) {
    ol{
        margin-left: 25px;
        margin-right: 25px;
    }

    #heliosVideo {
        height: 35vh;
        width: calc(100% - 50px);
    }

    #heliosVideo, blockquote {
        margin-left: 25px;
        margin-right: 25px;
    }

    blockquote {
        font-size: 20px;
        padding-left: 15px;
    }
}