form {
    margin-left: 60px;
    margin-right: 60px;
    width: 450px;
}

input, textarea {
    width: 100%;
    font-size: 18px;
    margin-bottom: 25px;
    border-width: 1px;
    border-color: gray;
    padding-left: 10px;
}

textarea {
    height: 150px;
}

#submitButton {
    width: 100%;
    background-color: red;
    border-style: solid;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#content {
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    form {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    input, textarea, #submitButton {
        width: 90%;
    }
}   