#myCarousel {
	width: 100%;
	height: 450px;
}

.carousel-inner {
	height: 450px;
	width: 100%;
}

.item img { 
	/*force carousel images to fit*/
	max-height: 450px;
	min-height: 450px;
	max-width: 100%;
	min-width: 100%;
}

#aboutSection {
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
}

#aboutSection p {
    margin-top: 15px;
    font-size: 20px;
    clear: both;
}

#aboutSection a {
    font-size: 16px;
    color: blue;
    text-decoration: underline;
}

#goalOne, #goalTwo {
    width: 300px;
    text-align: center;
    margin-top: 15px;
}

#goalOne p, #goalTwo p {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-size: 18px;
}

#goalOne {
    float: left;
    margin-left: 120px;
}

#goalTwo {
    float: right;
    margin-right: 120px;
}

#goalOne img {
    height: 150px;
    width: 160px;
}

#goalTwo img {
    height: 150px;
    width: 150px;
}

#verticalRule {
    height: 250px;
    border-left: solid;
    border-width: 1px;
    display: inline-block;
}

.carousel-caption {
    display: block;
    position: absolute;
    left: 100px;
    overflow: hidden;
}

.carousel-caption h1, .carousel-caption h2 {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 500px;
}

.carousel-caption h1 {
    color: black;
    background-color: rgba(255, 255, 255, 0.6); 
    margin-left: 0;
    margin-bottom: 5px;
}

.carousel-caption h2 {
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    margin-left: 25px;
}

#aboutSection h2 {
    display: block;
    font-weight: bold;
    color: black;
}

/*Styles for mobile-responsiveness*/
@media screen and (max-width: 480px) {
    #myCarousel, .carousel-inner, #myCarousel img {
       min-height: 35vh;
       max-height: 35vh;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -5px;
    }

    .carousel-indicators li {
        height: 8px;
        width: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .carousel-caption {
        left: 30px;
        bottom: 0px;
    }

    .carousel-caption h1 {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .carousel-caption h2 {
        font-size: 14px;
        margin-top: 0;
        margin-left: 40px;
    }

    .carousel-caption h1, .carousel-caption h2 {
        min-width: 95%;
    }

    #verticalRule {
        display: none;
    }

    #aboutSection, #goalOne, #goalTwo {
        width: 100%;
        margin: 0;
    }

    #content p {
        margin-left: 20px;
        margin-right: 20px;
    }
}